mat-card {
    background-color: #f5fcc1;
}

.button-send {
    margin-top: 1rem;
}

.button-prev {
    margin-left: 1rem;
}

mat-form-field {
    display: inline-block;
}

.mat-header-row {
    background-color: #673ab7;
}

.mat-header-row > th {
    color: #fff;
}

.confirm-table {
    width: 100%;
}