<div class="reports-container" *ngIf="!isLoading" fxLayout="row wrap" fxLayoutAlign="center stretch">
    <h2 class="main-header" fxFlex="100%">Fogyasztás Történet</h2>
    <mat-card class="report-card" fxShow fxHide.lt-lg *ngFor="let chart of dataToDisplay; let i = index" fxFlex="75%">
        <mat-card-header>
            <h3>{{chartTitles[i]}}</h3>
        </mat-card-header>
        <mat-card-content>
            <div class="chart">
                <ngx-charts-line-chart
                [view]="view"
                [scheme]="colorSchemes[i]"
                [legend]="legend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxis]="xAxis"
                [yAxis]="yAxis"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [timeline]="timeline"
                [results]="chart">
                </ngx-charts-line-chart>
            </div>
        </mat-card-content>
        <mat-card-actions></mat-card-actions>
    </mat-card>
    <p fxHide fxShow.lt-lg>A képernyő mérete túl kicsi a statisztika megjelenítéséhez. Kérlek, próbálkozz asztali számítógépről vagy laptopról, ha meg akarod tekinteni.</p>
</div>
